/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;import react from "react";
import logos from "./logos.png";

function Navbar(){
    return(
        <div>
              
           <nav class="navbar navbar-light bg-dark">
             <a class="navbar-brand" href="#">
             <img src={logos} width="120" height="90" alt="no img"/>
             <span> GOVE ADMIN</span>
            
             </a>
           </nav>
        </div>
    )
} 



export default Navbar; 


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
